img {
  height: 200px;
}

body {
  background-color: #add8e6;
  display: flex;
  justify-content: center;
  /* padding-top: 50px; */
}

.hidden {
  filter: brightness(0);
}

.revealed {
  filter: brightness(1);
}
